node_modules/
dist/

package-lock.json

*.jpg
*.png
*.webp
*.ktx2
*.dds
*.tif
*.hdr
*.exr

!public/**/*.jpg
!public/**/*.jpeg
!public/**/*.png
!public/**/*.webp
!public/**/*.ktx2
!public/**/*.dds
!public/**/*.tif
!public/**/*.tiff
!public/**/*.hdr
!public/**/*.exr
